.saph5{
    margin-top: 80px;
    padding-bottom: 20px;
    font-family: 'loto';
    font-weight: bold;
    letter-spacing: 2px;
    color:black;
    font-size: 25px;
    width:550px;
}
.h2advantages{
    padding:30px;
}