/* Footer.css */

.footer {
    background-color: black; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px 0; /* Padding around content */
    height: 350px; /* Set height to 350px */
    margin-top: 60px;
    width:auto;
  }
  
  .text-center h4 {
    margin-bottom: 15px; /* Spacing below headings */
  }
  
  .column {
    width: 33.33%; /* Set width for each column */
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    padding-top: 10px;
  }
  
  .column .content {
    margin-bottom: 15px; /* Spacing below each section */
  }
  
  .column .content p {
    margin-bottom: 19px; /* Spacing between paragraphs */
  }
  
  .column .content a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .column .content a:hover {
    color: #008000; /* Link text color on hover */
  }
 .connected a {
    font-size: 30px;
    padding-right: 25px;
 }
.connected a:hover{
    font-size: 40px;
    transform: translateY(-5px);
}
