/* Footer.css */

.footer {
    background-color: black; 
    color: #fff;
    padding: 20px 0; 
    height: 350px; 
    margin-top: 60px;
    width:auto;
  }
  
  .text-center h4 {
    margin-bottom: 15px; 
  }
  
  .column {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    padding-top: 10px;
  }
  
  .column .content {
    margin-bottom: 15px; 
  }
  
  .column .content p {
    margin-bottom: 19px; 
  }
  
  .column .content a {
    color: #fff; 
    text-decoration: none; 
  }
  
  .column .content a:hover {
    color: #008000; 
  }
 .connected a {
    font-size: 30px;
    padding-right: 25px;
 }
.connected a:hover{
    font-size: 40px;
    transform: translateY(-5px);
}
