.bookkeepingh1{
    color:rgb(8, 8, 107);
    font-size: 90px;
    margin-bottom: 40px;
  }
  @keyframes fadeZoomInUp {
    0% {
      opacity: 0;
      transform: translateY(50px) scale(1.5);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  } 
  .advantagesBoxes {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 3s ease;
  }
  
  .advantagesBoxes.show {
    opacity: 1;
    transform: translateY(0);
  }

  .platform {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .platform.show {
    opacity: 1;
    transform: translateY(0);
  }

  @media only screen
  and (min-width: 1370px)
  and (max-width: 1605px) {

    .flex-container{
      display: flex;
      justify-content: center;
    }
    .bookkeepingh1{
      font-size: 50px;
    }
    .bookkeepingimg{
      width:500px
    }
  }
  @media only screen and (min-width: 1200px) {
    .bookkeepingh1 {
        width: auto;
    }
    .flex-item{
      display: flex;
      flex-direction: column;
    }
  .advantagesBox{
    margin-left: auto;
    margin-right: auto;
  }

}
/* @media only screen and (min-width:992px) and (max-width: 1199px) {
    .box1 {
       
        margin-left: 20px;
        text-align: center;
    }
    .col-md-4 {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 15px;
    }
    .col-md-4:nth-child(2n) {
        margin-right: 0;
    }

    .service__box {
        width: auto;
        height: 300px;
    }

    .service__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial__box {
        width: auto;
        height: 480px;
        text-align: center;
    }

    .testimonial_middle_box {
        height: 480px;
        overflow-y: auto;
    }
    .lastTestimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 240px;
    }
    .animation {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 30px;
    }
    .text {
        width: 450px;
    }

} */
/* @media only screen and (min-width:768px) and (max-width: 991px) {
    .box1 {
        margin-left: 20px;
        text-align: center;
    }
    .serviceSection {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .col-md-4 {
        width: 100%;
        padding: 15px;
    }
    .service__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .service__meta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    p.service__text.p__color {
        text-align: center;
    }

    .testimonial__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .testimonial_middle_box {
        height: 480px;
        overflow-y: auto;
    }

    .animation {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 30px;
    }
   .text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .text p {
        text-align: center; 
      }

   .col-md-6{
    width:100%;
   
   }
    .selectSchedule {
     margin-top: 70px;
      text-align: center; 
    }
    .inline-widget{
        margin-top: 20px;
    }
  
} */

/* @media only screen and (min-width: 481px) and (max-width: 767px) {
    .box1 {
        margin-left: 5px;
        text-align: center;
        width:auto
    }
    .serviceSection {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .col-md-4 {
        width: 100%;
        padding: 12px; 
    }
    .service__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .service__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.service__text.p__color {
        text-align: center;
    }

    .testimonial__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .testimonial_middle_box {
        height: 480px; 
        overflow-y: auto;
    }

    .animation {
        margin-left: 15px; 
        margin-top: 15px; 
        font-size: 22px;
    }
    .text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        margin-left: auto;
        margin-right: auto;
    }
    .text p {
        text-align: center; 
    }

    .col-md-6 {
        width: 100%;
    }

    .selectSchedule {
        margin-top: 70px; 
        text-align: center; 
    }
    .inline-widget {
        margin-top: 20px; 
    }
} */
 
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .bookkeepingh1 {
        font-size: 30px;
    }
  
    
    .col-md-4 {
        width: 100%;
        padding: 15px;
    }
    .service__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .service__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.service__text.p__color {
        text-align: center;
    }

    .testimonial__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .testimonial_middle_box {
        height: 480px; 
        overflow-y: auto;
    }

    .animation {
        margin-left: 10px; 
        margin-top: 20px; 
        font-size: 20px;
    }
    .text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        width:auto
    }
    .text p {
        text-align: center; 
    }

    .col-md-6 {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .selectSchedule {
        margin-top: auto;
        text-align: center; 
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .inline-widget {
        margin-top:auto; 
    }
}

@media only screen and (max-width: 319px) {
    .box1 {
        margin-left: 5px; 
        text-align: center;
        width:auto;
       /* background-color: #008000; */
    }
    .serviceSection {
        display: flex;
        justify-content: center;
        align-items: center;
       /* background-color: #008000; */

    }
    .service{
        background-color: pink;
        max-width:319px;
        height:auto;
        margin-left: 50px;
        margin-right: auto;
    }
    
    .col-md-4 {
        width: 100%;
        padding: 15px;
       /* background-color: #008000; */

    }
    .service__box {
        width: auto;
        height: auto;
        text-align: center;
       /* background-color: #008000; */

    }
.text{
    /* background-color: #008000; */
    width:auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: auto;
    margin-right: auto;
}

    .service__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #114a4b; */
        width: auto;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    .service__box {
        /* background-color: red; */
        width:auto;
        margin-left: 30px;
        margin-right: auto;
    }
    p.service__text.p__color {
        text-align: center;
    }

    .testimonial__box {
        width: auto;
        height: auto;
        text-align: center;
    }

    .testimonial_middle_box {
        height: 480px; 
        overflow-y: auto;
    }

    .animation {
        margin-left: 10px; 
        margin-top: 20px; 
        font-size: 20px;
    }
    .text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        width:auto
    }
    .text p {
        text-align: center; 
    }

    .col-md-6 {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .selectSchedule {
        margin-top: auto;
        text-align: center; 
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .inline-widget {
        margin-top:auto; 
    }
}

