.flex-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .flex-item {
    flex:0;
    margin-top: 350px;
    padding-top: 30px;
    align-items: center;
  }
  .fpah1{
    color:rgb(8, 8, 107);
    font-size: 170px;
    margin-bottom: 40px;
  }
  .flex-item1 {
    margin-top: 250px;
    padding-top: 30px;
    align-items: center;
  }

  .fpah5{
    padding-bottom: 20px;
    font-family: 'loto';
    font-weight: bold;
    color:black;
    font-size: 25px;
    width:500px
  }

  .platform{
    width: calc(20% - 20px); 
    margin: 60px;
   padding: 50px;
   background-color: #fff; 
   box-shadow: 0 0 10px #2b2a2a;
   border-radius: 8px; 
   text-align: center;
   font-family: 'loto';
}
.platform h4{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.platform p {
  font-size: 20px;
  font-family: 'loto';
}
.featureGroup{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fafafa;
}
.engageInfo{
    text-align: center;
    margin-top: 60px;
    font-family: 'loto';
    font-size: 20px;
}
.engageInfo p{
    margin-top: 20px;
    padding-top: 10px;
    font-family: 'loto';
    color:black;
    font-size: 25px;

}
.engageInfo h4{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
  .faq-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:80px;
    margin-top: 160px;
  }
  
  .faq-text h1 {
    align-items: center;
    padding-left: 50px;
  }
  
  .faqPart {
    width: 50%;
  }
  

  .faq-question {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
  }
  
  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .faq-header h3 {
    margin: 0;
  }
  
  .faq-answer {
    padding: 10px;
    font-size: 20px;
  }
  
  .faq-header span {
    font-size: 24px;
  }



